button {
        display: block;
        margin: 0 auto;

}

button:hover {
    background-color: #965fd4;
    color: #1d1a2f;

}

button:active {
    background-color: #734f9a;
    color: #8bd450;

}